* {
    color: #222222;
   font-family: "Frank Ruhl Libre", Georgia, serif;
   font-weight: 500;
   font-size: 36px;
   text-align: center;
   background-color: #f0f9f9;
}

ol li,  a {
    color: #0000ee;
    
}

a:link {
     text-decoration: none; 

}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ol li {
    color: #222222;
     
}